h1, .h1 {
    font-size: 22pt;
}

h2, .h2 {
    font-size: 19pt;
}

h3, .h3 {
    font-size: 16pt;
}

.no-bottom-margin {
    margin-bottom: 0px !important;
}

.no-top-margin {
    margin-top: 0px !important;
}

.separator {
    background-color: #F6EDDF;
    height: 26pt;
    width: 100%;
}

.page-2 .h3, .page-2 h3, .page-2 .h2, .page-2 h2 {
    margin-top: 10pt;
}

img.logo {
    margin-left: auto;
    margin-right: auto;
}

body {
    padding-top: 70pt;
    font-family: Helvetica, sans-serif, Arial;
    color: #F6EDDF;
}

.input-group-addon {
    color: darkgrey;
}

.large-bg {
    background-image: url(../img/large-bg.jpg);
    /*background-size*/
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    /*transition*/
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.text, .text-left, .text-justified {
    font-size: 14pt;
}

.text-left {
    text-align: left;
}

.text-justified {
    text-align: justify;
}

.smaller-text {
    font-size: 12pt;
}

.bigger-text {
    font-size: 16pt;
}

.page {
    width: 100%;
    max-width: none;
}

.page > .row, .page > .large-bg > .row {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10pt;
}

@media (min-width: 992px) {
    .navbar .container, .navbar li {
        height: 73pt;
    }

    .navbar li a[href="#home"] {
        padding-top: 30pt;
    }

    .navbar li a {
        padding-top: 40pt;
    }

    .navbar-default .navbar-nav > li > .hover {
        position: absolute;
        left: 0;
        display: block;
        top: 0;
        height: 0px;
        width: 100%;
        z-index: -1;
    }

    .navbar-default .navbar-nav > li.active > .hover {
        height: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        background-color: transparent !important;
        color: #F6EDDF !important;
    }
}

.navbar-toggle {
    margin-top: 1.6em;
}

.navbar-default .navbar-nav > li > a {
    color: #F6EDDF !important;
}

.navbar-default {
    background-color: inherit;
    color: #f4e6d6;
    border: none;
    font-size: 14pt;
}

.page-1 {
    background-color: #a45958;
}

.page-1 .navbar-default .navbar-nav > li > .hover,
.page-1 .navbar-default .navbar-nav > li.active > a {
    background-color: #944948;
}

.page-2-arrow {
    border-bottom-color: #987474 !important;
}

.page-2 {
    background-color: #987474;
}

.page-2 .navbar-default .navbar-nav > li > .hover,
.page-2 .navbar-default .navbar-nav > li.active > a {
    background-color: #776464;
}

.page-3-arrow {
    border-bottom-color: #ac916c !important;
}

.page-3 {
    background-color: #ac916c;
}

.page-3 .navbar-default .navbar-nav > li> .hover,
.page-3 .navbar-default .navbar-nav > li.active > a {
    background-color: #9c815c;
}

.page-4 {
    background-color: #5c7b7f;
}

.page-4-arrow {
    border-bottom-color: #5c7b7f !important;
}

.page-4 .navbar-default .navbar-nav > li > .hover,
.page-4 .navbar-default .navbar-nav > li.active > a {
    background-color: #4c6b6f;
}

.page-5-arrow {
    border-bottom-color: #8b9076 !important;
}

.page-5 {
    background-color: #8b9076;
}

.page-5 .navbar-default .navbar-nav > li > .hover,
.page-5 .navbar-default .navbar-nav > li.active > a {
    background-color: #7b8066;
}

.schedule-row {
    border-top: dashed black 1px;
}

@media (min-width: 1220px) {
    body {
        /*transition*/
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    .navbar-default .navbar-nav > li > .hover {
        /*transition*/
        -webkit-transition: 0.5s ease;
        -moz-transition: 0.5s ease;
        -o-transition: 0.5s ease;
        transition: 0.5s ease;
    }
}

#map {
    height: 500px;
    color: black;
}

.company-logo {
    height: 50pt;
    width: auto;
}

.encircled {
    width: 100%;
    max-width: 100%;
    /*border-radius*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
    padding: 0px;
    display: table;
    font-size: 120%;
}

@media (min-width: 1220px) {
    .circled {
        font-size: 14pt;
    }
}

.encircled > * {
    padding: 26%;
    display: table-cell;
    vertical-align: middle;
}

.page-3 .encircled > * {
    padding: 4pt;
}

.vk, .twitter {
    padding: 20% !important;
}

.pad-bottom {
    padding-bottom: 20pt;
}

.bordered {
    border: solid #F6EDDF 2px;
}

.pad-top {
    padding-top: 20pt !important;
}

.thick {
    border-width: 3px;
}

.blue-bg {
    background-color: #5c7b7f;
}

.arrow-up {
    padding-top: 20pt;
    width: 0;
    height: 0;
    border-left: 26pt solid transparent;
    border-right: 26pt solid transparent;

    border-bottom: 20pt solid black;
    margin-left: auto;
    margin-right: auto;
}
