@font-face { font-family: "Rubl Sign"; src: url(http://www.artlebedev.ru/;-)/ruble.eot); }

span.rur { font-family: "Rubl Sign"; text-transform: uppercase; // text-transform: none;}
span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: .1ex 0 0 -.55em; // display: none; }
span.rur span:before { content: '\2013'; }

body {
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.navbar-default {
    background-color: inherit;
    border: none;
}

.row:not(.schedule-row .row) {
    padding-top: 7em;
}

.page {
    width: 100%;
    max-width: none;
    padding-top: 70px;
    padding-bottom: 70px;
}

.page > .row {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .page {
        min-height: 800px;
    }
}

.navbar-default .navbar-nav > li > .hover {
    position: absolute;
    left: 0;
    display: block;
    top: 0;
    height: 0px;
    width: 100%;
    z-index: -1;

    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
}

.navbar-default .navbar-nav > li.active > .hover {
    height: 100%;
}

.navbar-default .navbar-nav > li > a {
    background-color: transparent !important;
}

.page-1 {
    background-color: #a45958;
}

.page-1 .navbar-default .navbar-nav > li > .hover {
    background-color: #944948;
}

.page-2 {
    background-color: #987474;
}

.page-2 .navbar-default .navbar-nav > li > .hover {
    background-color: #776464;
}

.page-3 {
    background-color: #bea37e;
}

.page-3 .navbar-default .navbar-nav > li> .hover {
    background-color: #ae936e;
}

.page-4 {
    background-color: #5c7b7f;
}

.page-4 .navbar-default .navbar-nav > li > .hover {
    background-color: #4c6b6f;
}

.page-5 {
    background-color: #8b9076;
}

.page-5 .navbar-default .navbar-nav > li > .hover {
    background-color: #7b8066;
}

.schedule-row {
    border-top: dashed black 1px;
}